{% extends "base.html" %}
{% autoescape on %}
{% block content %}
    
{% include "nav.html" %}    
    
    hi, welcome to my orderlist page ~  
    
<table align="center">
<tr>
<td>
<form action="/query" method="post">
{% csrf_token %}
   <input type="text" name="productname" >
   <input type="submit" value="查询">
</form>
</td>
</tr>
</table>
    
    
    <br />
    {% include "orderPageNav.html" %}
    </br>
    <table id="result_list" align="center">
<thead>
<tr>

<th scope="col"  class="action-checkbox-column">
   
   <div class="text"><span>id</span></div>

</th>

<th scope="col"  class="action-checkbox-column">
   
   <div class="text"><span>订单时间</span></div>

</th>

<th scope="col"  class="action-checkbox-column">
   
   <div class="text"><span>订单商品</span></div>

</th>

<th scope="col"  class="action-checkbox-column">
   
   <div class="text"><span>购买人</span></div>

</th>

</tr>
</thead>
<tbody>

{% for obj in page.object_list %}
<tr class="{% cycle row1,row2 %}" style="height:20px">
<th>{{obj.id}}<a href="/order?pid={{obj.id}}">订购</a></th>
<th>{{obj.odate}}</th>
<th>{{obj.product}}</th>
<th>{{obj.user}}</th>
</tr>
{% endfor %}

</tbody>
</table>
    {% include "orderPageNav.html" %}
    
{% endblock %}
{% endautoescape %}